# Byte-compiled / optimized / DLL files
__pycache__/
migrations/
*.py[cod]
*$py.class
*pyc

# Caches
*.cache
*.log

# Virtual environment
venv/
.venv/
.env

# my folders
/_
/old
*migrations
*blog_img
node_modules/
Documentations/
CACHE/

# my choice
profile.json

# Database
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Compiled translations
*.mo

# Local development settings
local_settings.py

# Django migration files
*/migrations/

# Secret key
*.secret_key

# Debugging
.vscode/
*.bak
*.swp
*.swo