{% extends 'base.html' %}

{% load static %}

{% block title %} Joemar's Portfolio {% endblock title %}

{% block content %}

<section id="welcome-title" class="content-container">
    <div style="height: 200px;"></div>
</section>

<section id="about" class="content-container">
    <div style="height: 100px;"></div>
</section>

<!-- educational ataintment -->
<section id="education" class="content-container">
    <div style="height: 500px;"></div>
</section>

<section id="projects" class="content-container">
    <div style="height: 50px;"></div>
</section>

<section id="achievements-experiences" class="content-container">
    <div style="height: 30px;"></div>
</section>

<section id="contact" class="content-container">
    <div style="height: 30px;"></div>
</section>

{% endblock content %}