{% extends 'base.html' %}

{% load static %}

{% block title %} Joemar's Portfolio {% endblock title %}

{% block content %}

<section id="home" class="content-container">
    <header>
        <div class="nav-toggle">
            <p>Menu</p>
            <span></span>
        </div>
        <ul class="nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#experiences">Experiences</a></li>
            <li><a href="#blogs">Blogs</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </header>

    <div class="wrapper">
        <div class="welcome">
            <h1><strong> {{ first_name }} </strong> Portfolio</h1>
            <p> {{ introduction }} </p>
            <div class="social">
                <a href="{{ facebook_link }}" target="_blank" draggable="false"><i class="icon-facebook"></i></a>
                <a href="{{ github_link }}" target="_blank" draggable="false"><i class="icon-pinterest-p"></i></a>
                <a href="#" target="_blank" draggable="false"><i class="icon-instagram"></i></a>
                <a href="#" target="_blank" draggable="false"><i class="icon-twitter"></i></a>
            </div>
        </div>
        <div class="profile-img">
            <img src="{% static 'img/profile-img.png' %}" alt="Joemar" draggable="false" />
        </div>
    </div>
</section>



<section id="about" class="content-container">
    <div class="wrapper">
        <div class="object">
            <img src="{% static 'img/object.png' %}" alt="Camera" draggable="false" />
        </div>
        <div class="title">
            <h2>My name is<strong> {{ full_name }} </strong></h2>
            <p> {{ description }} </p>
        </div>
    </div>
</section>



<!-- education and achievements -->
<section id="education" class="content-container">
    <div class="wrapper">
        {% for school in school %}
        <div>
            <h3> {{ school.level }} </h3>
            <p> {{ school.year_start }} - {{ school.year_end }} </p>
            <p> {{ school.story }} </p>
        </div>
        {% endfor %}
        {{ school_note }}
    </div>
</section>



<!-- projects and blogs -->
<section id="projects" class="content-container">
    <div class="wrapper">
        <h5> Ungraduate Projects </h5>
        {% for project in projects %}
        <div> {{ project.name }} | {{ project.link }} </div>
        {% endfor %}
    </div>
</section>



<section id="experiences" class="content-container">
    <div class="wrapper">
        Software Used
        <ol>
            {% for app in app_experties %}
            <li> {{ app.name }} | {{ app.score }} </li>
            {% endfor %}
        </ol>

        Familiar Languages
        <ol>
            {% for lang in known_languages %}
            <li> {{ lang.name }} | {{ lang.score }} </li>
            {% endfor %}
        </ol>

        Attributes
        <ol>
            {% for attr in attributes %}
            <li> {{ attr }} </li>
            {% endfor %}
        </ol>
    </div>
</section>



<section id="blogs" class="content-container">
    <div class="wrapper">
        <h5> Blogs </h5>
    </div>
</section>



<section id="contact" class="content-container">
    <div class="wrapper">
        <div class="title">
            <h2><strong>Contact</strong> Me</h2>
            <p>
                {{ contact_me_description }}
            </p>
        </div>
        <form>
            <input type="email" placeholder="Your Email" />
            <input type="text" placeholder="Subject" />
            <textarea placeholder="Message"></textarea>
            <input type="submit" value="Send Message" />
        </form>
    </div>
    <p class="copyright">&copy; Joemar 2023</p>
</section>

{% endblock content %}