{% extends 'base.html' %}

{% load static %}

{% block title %} Joemar's Portfolio {% endblock title %}

{% block content %}

<section id="welcome-title" class="content-container">

    <header>
        <div class="nav-toggle">
            <p>Menu</p>
            <span></span>
        </div>
        <ul class="nav">
            <li><a href="#welcome-title">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#featured">Education</a></li>
            <li><a href="#achievements">Achievements</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </header>

    <div class="wrapper">
        <div class="welcome">
            <h1><strong>{{ first_name }}</strong> Portfolio</h1>
            <p> {{ introduction }}</p>
            <div class="social">
                <a href="{{ facebook_link }}" target="_blank"><i class="icon-facebook"></i></a>
                <a href="{{ github_link }}"><i class="icon-pinterest-p"></i></a>
                <a href="#"><i class="icon-instagram"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
            </div>
        </div>
        <div class="photographer">
            <img src="{% static 'img/hero.png' %}" alt="Photographer" />
        </div>
    </div>

</section>

<section id="about" class="content-container">
    <div class="wrapper">
        <div class="camera">
            <img src="{% static 'img/camera.png' %}" alt="Camera" />
        </div>
        <div class="title">
            <h2>My name is <strong>{{ full_name }}</strong></h2>
            <p> {{ description }} </p>
        </div>
    </div>
</section>

<!-- educational ataintment -->
<section id="featured" class="content-container">

    <div class="wrapper">
        {% for school in school %}
        <div>
            <h3>{{ school.level }}</h3>
            <p>{{ school.year_start }} - {{ school.year_end }}</p>
            <p>{{ school.story }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<section id="projects" class="content-container">

    <ul class="banner">
        <li class="active"></li>
        <li></li>
        <li></li>
    </ul>
    <i class="icon-chevron-thin-left prev"></i><i class="icon-chevron-thin-right next"></i>

</section>

<section id="achievements-experiences" class="content-container">

    <h3 style="text-align: center;"> Achievements </h3>
    <div class="wrapper">
        <ul class="slider">
            <li class="back"><img src="{% static 'img/achievements-experiences/thumb-1.jpg' %}" /></li>
            <li class="current">
                <img src="{% static 'img/achievements-experiences/thumb-2.jpg' %}" />
            </li>
            <li class="front">
                <img src="{% static 'img/achievements-experiences/thumb-3.jpg' %}" />
            </li>
            <li><img src="{% static 'img/achievements-experiences/thumb-4.jpg' %}" /></li>
        </ul>
    </div>
    <i class="icon-chevron-thin-left prev"></i><i class="icon-chevron-thin-right next"></i>

</section>

<section id="contact" class="content-container">

    <div class="wrapper">
        <div class="title">
            <h2><strong>Contact</strong> Me</h2>
            <p>
                {{ contact_me_description }}
            </p>
        </div>
        <form>
            <input type="email" placeholder="Your Email" />
            <input type="text" placeholder="Subject" />
            <textarea placeholder="Message"></textarea>
            <input type="submit" value="Send Message" />
        </form>
    </div>
    <p class="copyright">&copy; Joemar 2023</p>

</section>

{% endblock content %}