{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Description" content="Joemar's Website" />
    <meta name="Keywords" content="portfolio, joemar, template, html, css, js, django" />
    <meta name="Author" content="joemar25" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <script src="https://kit.fontawesome.com/7a54e52029.js" crossorigin="anonymous"></script>
  </head>

  <body>
    {% block content %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>

</html>