/* Global */
:root {
  /* Light Theme */
  --color-background-primary-light: #f7f7f7;
  --color-background-support-light: #efefef;
  --color-text-primary-light: #6c757d;
  --color-text-secondary-light: #ccc;
  --color-support-light: #333;
  --color-select-light: #fff498;

  /* Dark Theme */
  --color-background-primary-dark: #333;
  --color-background-support-dark: #444;
  --color-text-primary-dark: #ccc;
  --color-text-secondary-dark: #999;
  --color-support-dark: #f7f7f7;
  --color-select-dark: #000;

  --color-transparent: transparent;
}

@import "https://fonts.googleapis.com/css?family=Raleway:100,400,700";

@font-face {
  font-family: "LMRomanSlant10";
  src: url("fonts/lmromanslant10-regular-webfont.eot");
  src: url("fonts/lmromanslant10-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/lmromanslant10-regular-webfont.woff") format("woff"),
    url("fonts/lmromanslant10-regular-webfont.ttf") format("truetype"),
    url("fonts/lmromanslant10-regular-webfont.svg#latin_modern_roman_slante10Rg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

header,
section {
  display: block;
}

a {
  background-color: var(--color-transparent);
  color: var(--color-text-primary);
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

textarea {
  overflow: auto;
}

table {
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* icons */
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?3hi6ws");
  src: url("fonts/icomoon.eot?3hi6ws#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?3hi6ws") format("truetype"),
    url("fonts/icomoon.woff?3hi6ws") format("woff"),
    url("fonts/icomoon.svg?3hi6ws#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-left:before {
  content: "\e904";
}

.icon-chevron-thin-right:before {
  content: "\e905";
}

.icon-pinterest-p:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

body {
  background-color: var(--color-background-primary-light);
  color: var(--color-support-light);

  font-family: "LMRomanSlant10", serif;
  font-size: 16px;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: var(--color-select-light);
}

.content-container {
  position: relative;
  width: 1440px;
  max-width: 95%;
  margin: 40px auto;
  background-color: var(--color-background-support-light);
  overflow: hidden;
}

::-moz-selection {
  background: var(--color-select-light);
}

::selection {
  background: var(--color-select-light);
}

::-moz-selection {
  background: var(--color-select-light);
}

img::-moz-selection {
  background: var(--color-transparent);
}

img::selection {
  background: var(--color-transparent);
}

img::-moz-selection {
  background: var(--color-transparent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-support-light);
  font-weight: bold;
}

h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

h2 {
  font-size: 42px;
  line-height: 1.14;
}

h3 {
  font-size: 26px;
  line-height: 1.38;
}

h4 {
  font-size: 22px;
  line-height: 1.38;
}

p {
  margin: 0 0 20px 0;
}

strong {
  font-weight: bold;
}

/* Navigation */
.nav {
  visibility: hidden;
  position: absolute;
  top: 75px;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-background-support-light);
  border: 1px solid var(--color-support-light);
  opacity: 0;
  z-index: 10;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.nav.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.nav:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-support-light);
  background-color: var(--color-background-support-light);
}

.nav li {
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color-text-primary-light);
  background-color: var(--color-background-support-light);
  overflow: hidden;
  z-index: 10;
}

.nav li:last-child {
  border-bottom: none;
}

.nav li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  color: var(--color-text-primary-light);
  font-size: 12px;
  font-family: "Raleway", Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.nav li a:hover {
  background-color: var(--color-text-primary-light);
  color: var(--color-background-primary-light)
}



















/* about */
.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 95%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#about .wrapper .camera {
  width: 45%;
}

#about .wrapper .camera img {
  width: 85%;
}

#about .wrapper .title {
  width: 55%;
}

#about .wrapper .title h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 42px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 100;
}

#about .wrapper .title h2:before {
  content: "";
  position: relative;
  bottom: 15px;
  display: inline-block;
  height: 1px;
}

#about .wrapper .title p {
  max-width: 600px;
  margin-bottom: 45px;
}

#welcome-title .wrapper .welcome .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#welcome-title .wrapper .welcome .social a {
  color: var(--color-background-support-light);
  text-decoration: none;
}

#welcome-title .wrapper .welcome .social i {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  background-color: var(--color-text-primary-light);
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#welcome-title .wrapper .welcome .social i:hover {
  background-color: var(--color-support-light);
}

/* Welcome Title */
#welcome-title header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 10;
}

#welcome-title header .nav-toggle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

#welcome-title header .nav-toggle p {
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Raleway", Helvetica, sans-serif;
  text-transform: uppercase;
}

#welcome-title header .nav-toggle span,
#welcome-title header .nav-toggle span:before,
#welcome-title header .nav-toggle span:after {
  content: "";
  position: relative;
  display: block;
  width: 23px;
  height: 2px;
  background-color: var(--color-text-primary-light);
}

#welcome-title header .nav-toggle span:before {
  bottom: 7px;
}

#welcome-title header .nav-toggle span:after {
  top: 5px;
}

#welcome-title .wrapper .welcome {
  width: 45%;
}

#welcome-title .wrapper .welcome:after {
  content: "";
  display: block;
  width: 1px;
  height: 70px;
}

#welcome-title .wrapper .welcome h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 42px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 100;
}

#welcome-title .wrapper .welcome p {
  max-width: 450px;
  margin-bottom: 30px;
}

#welcome-title .wrapper .profile-img {
  width: 55%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  line-height: 0;
}

#welcome-title .wrapper .profile-img img {
  width: 100%;
  opacity: 0.95;
}

/* Contact */
#contact .wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 95%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#contact .wrapper .title {
  max-width: 950px;
  margin-top: -45px;
  text-align: center;
}

#contact .wrapper .title h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 42px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 100;
}

#contact .wrapper .title p {
  margin-bottom: 45px;
}

#contact .wrapper form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--color-text-primary-light);
  font-family: "Raleway", Helvetica, sans-serif;
}

#contact .wrapper form input[type="email"],
#contact .wrapper form input[type="text"] {
  width: 42%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid var(--color-text-primary-light);
  border-radius: 0;
  background: var(--color-transparent);
}

#contact .wrapper form input[type="email"]::-webkit-input-placeholder,
#contact .wrapper form input[type="text"]::-webkit-input-placeholder {
  color: var(--color-text-primary-light);
}

#contact .wrapper form input[type="email"]::-moz-placeholder,
#contact .wrapper form input[type="text"]::-moz-placeholder {
  color: var(--color-text-primary-light);
}

#contact .wrapper form input[type="email"]:-ms-input-placeholder,
#contact .wrapper form input[type="text"]:-ms-input-placeholder {
  color: var(--color-text-primary-light);
}

#contact .wrapper form input[type="email"]::placeholder,
#contact .wrapper form input[type="text"]::placeholder {
  color: var(--color-text-primary-light);
}

#contact .wrapper form input[type="email"]:focus,
#contact .wrapper form input[type="text"]:focus {
  outline: none;
}

#contact .wrapper form textarea {
  width: 100%;
  height: 90px;
  margin: 30px 0;
  padding: 10px 15px;
  border: 1px solid var(--color-text-primary-light);
  border-radius: 0;
  background: var(--color-transparent);
  resize: none;
}

#contact .wrapper form textarea::-webkit-input-placeholder {
  color: var(--color-text-primary-light);
}

#contact .wrapper form textarea::-moz-placeholder {
  color: var(--color-text-primary-light);
}

#contact .wrapper form textarea:-ms-input-placeholder {
  color: var(--color-text-primary-light);
}

#contact .wrapper form textarea::placeholder {
  color: var(--color-text-primary-light);
}

#contact .wrapper form textarea:focus {
  outline: none;
}

#contact .wrapper form input[type="submit"] {
  width: 100%;
  height: 40px;
  color: var(--color-background-support-light);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background-color: var(--color-text-primary-light);
}

#contact .wrapper form input[type="submit"]:hover {
  color: var(--color-text-secondary-light);
  background-color: var(--color-support-light);
}

#contact .copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  margin-bottom: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 12px;
}

/* Featured */
#education .wrapper .title {
  width: 45%;
}

#education .wrapper .title:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 70px;
  background-color: var(--color-text-primary-light);
}

#education .wrapper .title h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 42px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 100;
}

#education .wrapper .title p {
  max-width: 400px;
  margin-bottom: 30px;
}

#education .wrapper .education {
  width: 55%;
}

#education .wrapper .education img {
  width: 100%;
}

/* projects */
#projects {
  padding: 0;
}

/* experiences */
#experiences {
  padding: 0;
}

/* blogs */
#blogs {
  padding: 0;
}

/* 1180px */
@media (max-width: 1180px) {
  #welcome-title .wrapper .welcome:after {
    display: none;
  }

  #welcome-title .wrapper .welcome p {
    margin-bottom: 0;
  }
}

/* 640px */
@media (max-width: 640px) {
  #about .wrapper .title h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  #about .wrapper .title {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
  }

  #welcome-title .wrapper .welcome h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  #welcome-title .wrapper .welcome {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
  }

  #contact .wrapper .title h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  #contact .wrapper form input[type="email"],
  #contact .wrapper form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  #contact .wrapper form textarea {
    margin: 0 0 10px 0;
  }

  #education .wrapper .title h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  #education .wrapper .title {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
  }
}

/* 1023 */
@media (max-width: 1023px) {
  #about .wrapper .camera {
    display: none;
  }

  #about .wrapper .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
  }

  #about .wrapper .title h2:before {
    display: none;
  }

  #welcome-title .wrapper .welcome {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
  }

  #welcome-title .wrapper .profile-img {
    display: none;
  }

  #education .wrapper .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
  }

  #education .wrapper .title:after {
    display: none;
  }

  #education .wrapper .title p {
    margin-bottom: 0;
  }

  #education .wrapper .education {
    display: none;
  }
}

/* 415px */
@media (max-width: 415px) {
  body {
    font-size: 14px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .content-container {
    margin: 15px auto;
  }
}

.wrapper {
  padding: 100px;
}

#welcome-title .wrapper {
  padding-top: 100px;
  padding-bottom: 0;
}
